<div class="container-fluid justify-content-center">
  <div class="row">
    <div class="col-11  text-center m-5">
    <p class="text-black text-justify">Bienvenidos a AtmoTrack-én, tu portal innovador para monitorear y comparar datos meteorológicos de tu municipio con lecturas en tiempo real de un sensor local conectado a un Arduino. En nuestra plataforma, hemos integrado la información más precisa y actualizada de AEMET, complementada con lecturas dinámicas de un sensor de temperatura y humedad conectado a un Arduino en tu PC. Este enfoque único te permite no solo acceder a datos meteorológicos relevantes y precisos, sino también experimentar la interacción directa con la tecnología de IoT (Internet de las Cosas) para una experiencia de usuario más inmersiva y educativa.</p>
    </div>
  </div>
<br>
  <div class="row" >

    <div class=" p-6">
      <app-municipios></app-municipios>
      <app-weather></app-weather>
    </div>
  </div>
  <div class="row">

    <div class=" p-6">
        <app-arduino></app-arduino>
    </div>
  </div>
</div>
